* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color:white;
    display: inline-block;
}
 img {
    width: 100%
} 
nav {
    margin-top: 0;
    width: 100%; 
    background-color:#8c8585;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    top: 0;
    z-index: 999;
}
 nav div img {
    width: 5rem;
    border-radius: 50px;
} 
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a {
    padding: 1rem;
    font-weight: 600;
}
nav ul li a:hover {
    background-color:  #42352f;
    color: white;
    transition-duration: .5s;
}
nav div ul li.shop{
    background-color: #42352f;
    color: white;
}
/* --------------------------- */
section.sale{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/WhatsApp\ Image\ 2024-08-07\ at\ 1.50.10\ AM.jpeg" );
    padding: 5rem 0;
    background-position:center center;
    background-size: cover;
    text-align: center;
    color: white;
    line-height: 1.5;
}
section.sale a {
    width: 200px;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: rgb(5, 5, 83);
    border-radius: 20px;

}

section.sale p {
    font-size: 2rem;
    font-weight: bold
}

section.sale p span {
    color: red
}
section.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    
}
 section.fourth .headerr h1 {
    font-size: 50px;
    color: #6d5c51;
    margin-top: 2rem;
    line-height: 1.5;
    margin-left: 20px;
    
 }
 section.fourth .headerr span{
    font-size: 20px;
    color: #9c8576;
    margin-left: 0px auto;
    line-height: 4;
 }


 section.fourth .bodyy2{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
} 
section.fourth div.boxx2{
   width: calc(83%/4);
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 9px;
   text-align: center;
   background-color: white;
}
section.fourth .boxx2 img{
    border-radius: 9px;
    width: 250px;
    height: 350px;
    margin-top:.5rem;
}
section.fourth .boxx2 .contentt2 {
    padding: 0.7rem;
  text-align: start;
}

section.fourth .boxx2 .contentt2 p {
    margin-bottom: .5rem;
}
section.fourth .boxx2 .contentt2 h3{
    margin-bottom: .5rem;
}
 section.fourth .boxx2 .contentt2 a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#ccc ;
     text-align: center; 
     line-height: 40px; 
     color: #42352f;
} 
section.fourth .boxx2 .contentt2 div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.fourth .boxx2 .contentt2 a i{
    font-size: 15px;
}
section.fourth .boxx2 .contentt2 a:hover{
    background-color: #42342b;
    transition-duration: .5s;
    color:#f1edeb;
}
/* <---------------------------------> */
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #eee;
  }
.button {
    text-align: center;
    margin: 5px 5px;
    transition-duration: 0.4s;
    padding: 10px 15px;  
     font-size: 14px;
     background-color: #975c4e;
  }
  .button:hover {
    background-color: hsl(11, 31%, 37%);
  }
  .button-container .button-style2{
    background-color: hsl(11, 31%, 37%);
  }
  /* --------------------------------- */
  section.line{
    background-color: #eee;
}
section.line .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;

    font-size: larger;
}
section.line .container div {
    width: calc(95% / 2);
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
section.line .container .cont p{
    margin-bottom: .5rem;
    color: #42342b;
}
section.line .container .cont h2{
    font-size: 2rem;
    margin-bottom:1rem;
    color: #42352f;
}
section.line .container .cont p span{
    color:rgb(249, 18, 18)
}
section.line .container .email{
    background-color: white;
    border-radius: 5px;
  }
  
  input[type="email"] {
    border: none;
    background-color: transparent;
    color:black;
    font-size: 16px;
    flex:1;
    margin-left: 1rem;
  }
  input[type="email" ]:focus {
    outline: none;
  }
  button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
  }
  button:hover{
    background-color: #a1a1a1;
    transition-duration: .5s;
  }
  section.line .container .email:focus-within input[type="email"]::placeholder {
    opacity: 0;
  }
  /* -------------------------------------- */
  footer {
    background-color: #c6c4c4;
    padding: 30px;
    text-align: center;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    text-align: left;
}
p{
    margin-top: 5px;
    font-size: large;
}
footer .container .row .col ul li a{
    margin-top:.5rem ;
    color:black;
    font-size:large ;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
    margin-top:.5rem ;
}

footer .container .row .col h3 a img{
    border-radius: 50px;
}
footer .container .row .col h3:first-of-type{
    margin-bottom: 1.2rem;
}
footer .container .row .col:first-of-type h3:last-of-type{
    margin-top: 1.2rem;
}
footer .container .row .col ul img{
    border-radius: 10px;
    border: 1px solid rgb(93, 51, 51);
   
}
footer .container .row .col .app{
display: flex;
gap: 10px;
margin-top: 1rem;
margin-bottom: 1rem;
}
@media (max-width:1200px){
     section.fourth .boxx2 img{
         width: 200px;
         height: 200px;
    }
}
 @media (max-width:1009px){
    section.fourth .boxx2 img{
         width:180px;
                }
    }
@media (max-width:896px){
     section.fourth .boxx2 img{
         width:150px;}
        }
 @media (max-width:763px){
     section.fourth .boxx2 img{
          width:130px;}
 }
@media (max-width:687px){
    nav{
        direction: ltr;
    }
    nav div img{
        width: 3rem;
        float: left;
        margin-right: 20px;
    }
    nav div ul{
     font-size:small;
     text-align: end;
    }
    section.fourth .boxx2 img{
     width:100px;
        }
}
@media (max-width:519px){
section.fourth .boxx2 img{
    width:90px;}
}
@media (max-width:495px){
nav{
    overflow-x: scroll;
    white-space: nowrap;
}
nav div img {
    margin-right: 50px;
}
section.fourth .boxx2 .contentt{
    font-size:small ;}
}
@media (max-width:430px){
    nav div ul{
        font-size: x-small;
    }
}
@media (max-width:913px){
    section.line .container div {
        width: 100%;}
    section.line .container{
        display: flex;
        flex-wrap: wrap;
    }
    section.line .container .email{
    margin-top: 1rem;
    }
    section.line .container .cont{
    margin-bottom: 1rem;
    }}
    @media (max-width:913px){
        footer .container .row .col{
            width: 100% !important;
            margin-bottom: 1rem;
        }
        footer .container .row{
            flex-direction: column;
        }
        }