* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
    color:white;
    display: inline-block;
}
 img {
    width: 100%
} 
nav {
     width: 100%; 
    background-color:#8c8585;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem
}

 nav div img {
    width: 5rem;
    border-radius: 50px;
    

} 

nav ul {
    display: flex;
    align-items: center;
    justify-content: center
}

nav ul li a {
    padding: 1rem;
    font-weight: 600
}
nav ul li a:hover {
    background-color:  #42352f;
    color: white;
    transition-duration: .5s;
}

nav div ul li.Home{
    background-color: #42352f;
    color: white;

}
/* <------------------------------------------> */
section.first {
    background-color: #eee;
}

section.first .contain {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section.first .contain div {
    width: calc(98% / 2)
}

section.first .contain .img{
    width: 450px;
}
section.first .contain .content{
    width: 70%;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: x-large;
    font-weight: bold;  
    margin-left: 75px;
    font-size: 30px;
    margin-top: 50px;
}
 section.first .contain .content span ,section.first .contain .content h2{
    color: rgb(21, 21, 21);
    justify-content:flex-start ;
    display: flex; 
    
} 
 section.first .contain .content h2{
    margin-top: 1rem;
} 
 section.first .contain .content h3{
    color: #775a4d;
    justify-content:flex-start ;
    display: flex; 
    margin-top: .5rem;
  }
  section.first .contain .content p{
    color: #9a7b6c;
    justify-content:flex-start ;
    display: flex; 
    margin-top: .5rem;
    font-size: medium;
  }
section.first .contain .content a{
         background-color:#775a4d; 
        justify-content:center ;
        display: flex; 
        width: 150px;
        padding: 1rem 0;
        margin-top: 1rem;
        background-size: 20px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
section.first .contain .content a:hover{
    background-color: #42342b;
    transition-duration: .5s;
}
/* <----------------------------------> */
section.links {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color:#c1baba ;  
}
section.links div.box {
    width:calc(80%/6);
    margin-top: 2rem;
    border: solid white;
    background-color: white; 
    border-radius: 5px;
    margin-left: 1rem; 
    margin-bottom:2rem ;
    display: grid;
    place-items: center;
}
section.links .box:hover{
    box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.2);
    transition-duration:.25s ;
}
section.links .box div.content a{
     width: 100px;
     padding: .5rem 0rem; 
     margin-top: 1rem;
     background-color:#775a4d;
     text-align: center; 
}
section.links .box .content a.link1{
background-color:rgb(170, 48, 26);
}
section.links .box .content a.link2{
    background-color: rgb(53, 68, 168);
}
section.links .box .content a.link3{
    background-color: rgb(128, 172, 39);
}
section.links .box .content a.link4{
    background-color: rgb(124, 35, 138);
}
section.links .box .content a.link5{
    background-color: rgb(24, 154, 102);
}
section.links .box .content a.link6{
    background-color: rgb(181, 126, 38);
}
section.links .box img{
    width: 100px;
    border-radius: 70px;
    height:100px ;
}
    /* <-------------------------------------> */
    section.third {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #eee;
      
        
    }
     section.third .header h1 {
        font-size: 50px;
        color: #6d5c51;
        margin-top: 2rem;
        line-height: 1.5;
        
     }
     section.third .header span{
        font-size: 20px;
        color: #9c8576;
        margin-left: 40px;
        line-height: 4;
     }

    
     section.third .bodyy{
        display: flex;
        flex-wrap: wrap;
        justify-content:center; 
    } 
    section.third div.boxx{
       width: calc(83%/4);
       margin: 10px;
       border: 1px solid #ccc;
       border-radius: 9px;
       text-align: center;
       background-color: white;
    }
    section.third .boxx img{
        border-radius: 9px;
        width: 250px;
        height: 225px;
        margin-top:.5rem;
    }
    section.third .boxx .contentt {
        padding: 0.7rem;
      text-align: start;
    }
    
    section.third .boxx .contentt p {
        margin-bottom: .5rem;
    }
    section.third .boxx .contentt h3{
        margin-bottom: .5rem;
    }
     section.third .boxx .contentt a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:#ccc ;
         text-align: center; 
         line-height: 40px; 
         color: #42352f;
    } 
    section.third .boxx .contentt div {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section.third .boxx .contentt a i{
        font-size: 15px;
    }
    section.third .boxx .contentt a:hover{
        background-color: #42342b;
        transition-duration: .5s;
        color:#f1edeb;
    }
  /* <---------------------------------> */
  section.sale {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./WhatsApp\ Image\ 2024-08-07\ at\ 1.50.10\ AM.jpeg");
    padding: 5rem 0;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
  
}

section.sale a {
    width: 200px;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: rgb(5, 5, 83);
    border-radius: 20px;

}

section.sale p {
    font-size: 2rem;
    font-weight: bold
}

section.sale p span {
    color: red
}

/* <------------------------------> */
section.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    
}
 section.fourth .headerr h1 {
    font-size: 50px;
    color: #6d5c51;
    margin-top: 2rem;
    line-height: 1.5;
    margin-left: 20px;
    
 }
 section.fourth .headerr span{
    font-size: 20px;
    color: #9c8576;
    margin-left: 0px auto;
    line-height: 4;
 }


 section.fourth .bodyy2{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
} 
section.fourth div.boxx2{
   width: calc(83%/4);
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 9px;
   text-align: center;
   background-color: white;
}
section.fourth .boxx2 img{
    border-radius: 9px;
    width: 250px;
    height: 350px;
    margin-top:.5rem;
}
section.fourth .boxx2 .contentt2 {
    padding: 0.7rem;
  text-align: start;
}

section.fourth .boxx2 .contentt2 p {
    margin-bottom: .5rem;
}
section.fourth .boxx2 .contentt2 h3{
    margin-bottom: .5rem;
}
 section.fourth .boxx2 .contentt2 a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#ccc ;
     text-align: center; 
     line-height: 40px; 
     color: #42352f;
} 
section.fourth .boxx2 .contentt2 div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.fourth .boxx2 .contentt2 a i{
    font-size: 15px;
}
section.fourth .boxx2 .contentt2 a:hover{
    background-color: #42342b;
    transition-duration: .5s;
    color:#f1edeb;
}
/* ----------------------------------- */
section.images {
    background-color: #cdc9c9;
}

section.images .child {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}

section.images .child .box3 {
    /* height: 30vh; */
    padding: 2rem;
    background-size: cover;
    background-position: center center;
    displaY: flex;
    align-items: center;
    color: rgba(74, 35, 35, 0.789);
    margin-left: 1rem; 
    margin-bottom:2rem ;
    margin-top: 2rem;
}

section.images .child:first-child .box3 {
    width: calc(99% / 2);
    margin-bottom:.5rem;
}

section.images .child:last-child .box3 {
    width: calc(98% / 3);
}


section.images .child .box3 div {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section.images .child .box3 div span {}

section.images .child .box3 div h3 {
    font-size: 1.5rem
}

section.images .child .box3 div p {}

section.images .child .box3 div a {
    margin-top: 1rem;
    padding: 0.5rem .9rem;
    background-color: transparent;
    color: rgba(74, 35, 35, 0.789);
    border: 2px solid rgb(93, 51, 51)
}
section.images .child .box3 div a:hover{
    background-color:rgba(74, 35, 35, 0.789);
    color: white;
    transition-duration: .5s;
}
/* ---------------------------------------------- */
section.line{
    background-color: #eee;
}
section.line .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;

    font-size: larger;
}
section.line .container div {
    width: calc(95% / 2);
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
section.line .container .cont p{
    margin-bottom: .5rem;
    color: #42342b;
}
section.line .container .cont h2{
    font-size: 2rem;
    margin-bottom:1rem;
    color: #42352f;
}
section.line .container .cont p span{
    color:rgb(249, 18, 18)
}
section.line .container .email{
    background-color: white;
    border-radius: 5px;
  }
  
  input[type="email"] {
    border: none;
    background-color: transparent;
    color:black;
    font-size: 16px;
    flex:1;
    margin-left: 1rem;
  }
  input[type="email" ]:focus {
    outline: none;
  }
  button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
  }
  button:hover{
    background-color: #a1a1a1;
    transition-duration: .5s;
  }
  section.line .container .email:focus-within input[type="email"]::placeholder {
    opacity: 0;
  }
  /* ----------------------------------------- */
   footer {
    background-color: #c6c4c4;
    padding: 30px;
    text-align: center;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    text-align: left;
}
p{
    margin-top: 5px;
    font-size: large;
}
footer .container .row .col ul li a{
    margin-top:.5rem ;
    color:black;
    font-size:large ;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
    margin-top:.5rem ;
}

footer .container .row .col h3 a img{
    border-radius: 50px;
}
footer .container .row .col h3:first-of-type{
    margin-bottom: 1.2rem;
}
footer .container .row .col:first-of-type h3:last-of-type{
    margin-top: 1.2rem;
}
footer .container .row .col ul img{
    border-radius: 10px;
    border: 1px solid rgb(93, 51, 51);
   
}
footer .container .row .col .app{
display: flex;
gap: 10px;
margin-top: 1rem;
margin-bottom: 1rem;
}
/* ------------------------------------- */
@media (max-width:1200px){
section.third .boxx img{
    width: 200px;
    height: 200px;}
    section.fourth .boxx2 img{
     width: 200px;
     height: 200px;
}
@media (max-width:1009px){
    section.third .boxx img{
        width:180px;
        }
     section.fourth .boxx2 img{
         width:180px;
            }
}
@media (max-width:913px){
    section.line .container div {
        width: 100%;}
    section.line .container{
        display: flex;
        flex-wrap: wrap;
    }
    section.line .container .email{
    margin-top: 1rem;
    }
    section.line .container .cont{
    margin-bottom: 1rem;
    }
}
@media (max-width:896px){
    section.third .boxx img{
        width:150px;}
     section.fourth .boxx2 img{
            width:150px;}
    }
@media (max-width:820px) {
    section.first {
        width:100%;
    }
    section.first .contain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section.first .contain .content h2{
     font-size:larger;
    }
    section.links .box img{
        width: 90px;
    }
    section.links .box div.content a{
        width:80px;
        font-size: small;
    }
    footer .container .row{
        flex-direction: column;
    }
    footer .container .row .col{
        width: 100% !important;
        margin-bottom: 1rem;
    }

}
@media (max-width:763px){
    section.third .boxx img{
        width:130px;
        }
    section.fourth .boxx2 img{
         width:130px;
            }
   
}
@media (max-width:726px){
    section.first .contain .content h2{
        font-size:large;
       }
       section.first .contain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section.links .box img{
        width: 70px;
    }
    section.links .box div.content a{
        width:70px;
        font-size: small;
    }
    
}
@media (max-width:687px){
    section.first .contain .content p{
        font-size:small;
    }  
    section.first .contain .content a{
        width: 80px;
        font-size: small;
    }
    nav{
        direction: ltr;
    }
    nav div img{
        width: 3rem;
        float: left;
        margin-right: 20px;
    }
    nav div ul{
     font-size:small;
     text-align: end;
    }
    section.first .contain .content span{
        font-size: smaller;
    }
    section.third .boxx img{
        width:100px;
        }
     section.fourth .boxx2 img{
            width:100px;
            }
}
@media (max-width:626px){
    section.first .contain .content h3{
        font-size: smaller;
    }    
    section.images .child {
        flex-direction: column;
    }
    section.images .child .box3 {
        width: 60% !important;
        margin-bottom: 1rem;
    }
}
@media (max-width:617px){
    section.first .contain .content p{
        font-size:x-small;
    }
}
@media (max-width:574px){
    section.first .contain .content span{
        font-size:large;
    }
    section.links .box img{
        width: 50px;
    }
    section.links .box div.content a{
        width:50px;
        font-size: small;
    }
    
}
@media (max-width:546px){
    section.first .contain .content p{
        font-size:xx-small;
        font-weight:bolder;
    }
    section.first .contain .content h3{
        font-size:large;
    }
}
@media (max-width:519px){
    section.first .contain .content p,section.first .contain .content h2{
        margin-right: 25px;
    }
    section.first .contain .content a{
        width: 50px;
        font-size: x-small;
        position: relative;
        left: 20%;
    }
    section.third .boxx img{
        width:90px;
        }
     section.fourth .boxx2 img{
         width:90px;
            }
}
@media (max-width:495px){
section.first .contain .content span{
    font-size:medium;
}
nav{
    overflow-x: scroll;
    white-space: nowrap;
}
nav div img {
    margin-right: 50px;
}
section.third .boxx .contentt{
   font-size:small ;}
section.fourth .boxx2 .contentt{
    font-size:small ;}
}
@media (max-width:473px){
    section.first .contain .content h2,section.first .contain .content h3,section.first .contain .content span{
    font-size: small;
    }
    section.first .contain .content a{
        width: 45px;
        font-size: x-small;
        position: relative;
        left: 20%;
    }
    section.third .boxx img{
        width:79px;
        }
    section.third .header h1{
         font-size: xx-large;
         display: grid;
         place-items: center;
         }
    section.fourth .boxx2 img{
            width:79px;
            }
     section.fourth .header h1{
             font-size: xx-large;
             display: grid;
             place-items: center;
             }
}
@media (max-width:430px){
    section.first .contain .content span{
        font-size:x-small;
    }
    nav div ul{
        font-size: x-small;
    }
    section.links .box img{
        width: 30px;
    }
    section.links .box div.content a{
        width:30px;
        font-size:xx-small;
    }
    section.third .boxx img{
        width:60px;
        }
    section.third .header h1,section.third .header span{
            font-size: small;
            display: grid;
            place-items: center;
        }
    section.fourth .boxx2 .contentt2 {
            font-size: xx-small;
        }
    section.fourth .boxx2 img{
            width:60px;
            }
     section.fourth .header h1,section.fourth .header span{
                font-size: small;
                display: grid;
                place-items: center;
            }
     section.fourth .boxx2 .contentt2 {
                font-size: xx-small;
            }
}
@media (max-width:401px){
    section.first .contain .content p,section.first .contain .content h2,section.first .contain .content h3{
        font-size: x-small;
    }
    section.first .contain .content{
        width: 50%;
        margin-left: 20px;
    }
    section.first .contain .img{
        width: 50%;
    }
    section.first .contain .content a{
        width: 45px;
        left: 10%;
    }
     section.third .boxx img{
            width: 20px;
            }
    section.third .header {
        font-size: xx-small;
         display: grid;
         place-items: center;
            }
     section.third .boxx .contentt, section.third .boxx .contentt p, section.third .boxx .contentt  div span{
         font-size:  5px;
            }
    section.fourth .boxx2 img{
                width: 20px;
                }
    section.fourth .header {
            font-size: xx-small;
             display: grid;
             place-items: center;
                }
     section.fourth .boxx2 .contentt2, section.fourth .boxx2 .contentt2 p, section.fourth .boxx2 .contentt2  div span{
             font-size:  5px;
                }
    }
}
